/***** HEADER **********************************/
.header{
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 100%;
    /* background-image: url(../images/jumbo-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 0%; */
}

header video {
    object-fit: cover;
    width: 100%;
    height: 530px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}

/* NAVBAR */
.header__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 20px;
}

.header__navbar:hover{
    background-color: #ffffff1a;
}

.header__navbar__logo img{
    width: 130px;
}

.header__navbar__menu img{
    width: 30px;
    height: 20px;
}

.header__navbar__menu__enlaces{
    display: none;
}

/* TEXTO INICIAL */
.header__textoInicial{
    color: white;
    padding: 50px 40px;
    flex: 2;
}

/* BOTONES HEADER */
.header__botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px 10px;
}

.header__botones__whatsApp, .header__botones__informamos{
   padding: 15px 25px;
}

.header__botones__whatsApp{
    color: white;
    background-color: #1fae9a;
    margin-right: 10px;
}

.header__botones__informamos{
    color: white;
    background-color: #FABADA;   
}

/***** MAIN ************************************/

.main{
    display: flex;
    flex-direction: column;
}

/* TEXTO BOOTCAMPS */
.main__textoBootcamps{
    margin-bottom: 20px;
    text-align: center;
}

.main__textoBootcamps h2 span{
    background-color: lightgoldenrodyellow;
}

/* BOOTCAMPS LISTA */
.main__bootcamps__lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.main__bootcamps__lista__curso{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #b6b3b3;
    margin-top: 15px;
    padding: 10px 20px 20px;
    height: 80px;
}

.main__bootcamps__lista__curso__texto{
    text-align: left;
}

.main__bootcamps__lista__curso__img{
    width: 82px;
    height: 100%;
}

.main__bootcamps__lista__curso__img img{
    width: 100%;
    height: 100%;
}

/* BOOTCAMPS HORARIO */
.main__bootcamps__horario{
    display: flex;
    flex-direction: column;
}

.main__bootcamps__horario__elemento{
    display: flex;
}

.main__bootcamps__horario__elemento__img{
    margin: 10px;
    width: 20%;
    box-shadow: 3px 3px 5px #b6b3b3;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main__bootcamps__horario__elemento__img img{
    width: 40px;
    height: 40px;
}

/* TEXTO EMPRESAS */
.main__textoEmpresas{
    margin-top: 30px;
}

.main__textoEmpresas__texto h2{
    color: grey;
}

/* LOGO EMPRESAS */
.main__logoEmpresas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.main__logoEmpresas__logo{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    margin-bottom: 50px;
}

.main__logoEmpresas__logo img{
    width: 80%;
}

 /* UPGRADERS */
 .main__textoUpgraders{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 1.4em;
}

.main__upgraders{
    display: flex;
    flex-wrap: wrap;
}

.main__upgraders__elemento{
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background-color: lightskyblue;
}

.main__upgraders__elemento button{
    justify-content: center;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    color:white;
    background-color: #eae2e299;
}

.main__upgraders__elemento__texto{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 15px;
}

.main__upgraders__elemento__texto h2{
    font-size: 1em;
    margin-bottom: 0px;
}

.main__upgraders__elemento__texto p{
    font-size: 0.8em;
    margin-top: 5px;
}

.upgrader1{
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(33 32 32)), url(../images/testimonials/elena_martin.jpg);
    background-size: 100% 100%;
}

.upgrader2{
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(33 32 32)), url(../images/testimonials/sebastian_jimenez.jpg);
    background-size: 100% 100%;
}

.upgrader3{
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(33 32 32)), url(../images/testimonials/carmen_mallado.jpg);
    background-size: 100% 100%;
}

.upgrader4{
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(33 32 32)), url(../images/testimonials/alberto_torres.jpg);
    background-size: 100% 100%;
}

/* TEXTO QUE ES */
.main__queEs__texto{
    display: flex;
    flex-direction: column;
}

.main__queEs__texto__elemento h1{
    margin-bottom: 10px;
}

.main__queEs__boton{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.main__queEs__boton button{
    padding: 15px 40px;
    background-color: #313786;
    color: white;
}

/* IMAGEN CURSOS */
.main__imagenCursos__elemento{
    position: relative;
    height: 300px;
    color: white;
    z-index: 0;
}

.main__imagenCursos__elemento__espacioBoton{
    text-align: right;
    padding: 10px 10px 0;
}

.main__imagenCursos__elemento__espacioBoton button{
    padding: 15px 20px;
    visibility: hidden;
}

.main__imagenCursos__elemento__cabecera{
    padding-left: 20px;
}

.main__imagenCursos__elemento__cabecera h1{
    margin-top:5px;
}

.main__imagenCursos__elemento__flecha{
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.ultimasPlazas, .nuevasFechas{
    visibility: unset !important;
    color: rgb(37, 37, 37);
}

.ultimasPlazas{
    background-color: rgb(226, 190, 69)
}

.ultimasPlazas:after{
    content: 'ULTIMAS PLAZAS';
}

.nuevasFechas{
    background-color: aqua;
}

.nuevasFechas:after{
    content: 'NUEVAS FECHAS';
}

.bootcamp_fullstack{
    background-image: url(../images/bootcamps/fullstack-img-chooser.jpg);
    background-size: cover;
}

.bootcamp_ciberseguridad{
    background-image: url(../images/bootcamps/ciber-img-chooser.jpg);
    background-size: cover;
}

.bootcamp_uxui{
    background-image: url(../images/bootcamps/uxui-img-chooser.jpg);
    background-size: cover;
}

.bootcamp_frontend{
    background-image: url(../images/bootcamps/frontend-img-chooser.jpg);
    background-size: cover;
}

/* MEJOR OPCION */
.main__mejorOpcion{
    margin-top: 50px;
}

.main__mejorOpcion__titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main__mejorOpcion__titulo i{
    font-size: 4em;
    color: #930C10;
    margin-right: 10px;
}

.main__mejorOpcion__opciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main__mejorOpcion__opciones__opcion{
    flex-basis: calc(45% - 30px);
    margin-right: 30px;
}

.main__mejorOpcion__opciones__opcion__texto{
    display: none;
}

/* SABER MAS */
.main__saberMas{
    display: flex;
    flex-direction: column;
    background-color:rgb(81, 70, 243);
    color: white;
    padding: 50px 30px 50px 30px;
}

.main__saberMas__formulario form div{
    display: flex;
    flex-direction: column;
}

.main__saberMas__formulario form div input,
.main__saberMas__formulario form div select {
    margin: 10px 0 20px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
}

.main__saberMas__formulario input{
    margin-top: 30px;
}

.main__saberMas__formulario__labelCondiciones a{
    color: white;
}

.main__saberMas__formulario button{
    display: block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1em;
    color: white;
    background-color: rgb(181, 169, 250);
}

/***** FOOTER *******************************/

.footer{
    background-color: black;
    color: white;
    padding: 50px 30px 50px 30px;
}

.footer__datos__contacto img{
    display: block;
}

.footer__datos__enlaces{
    margin-top: 30px;
}

.footer__datos__contacto a,
.footer__datos__enlaces a{
    color: white;
    display: block;
}

.footer__redes{
    margin-top: 50px;
}

.footer__redes i{
    font-size: 2em;
    margin-right: 15px;
}

