/* FONDO VIDEO */
.contenido__video{
    background: #7DD174;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
   }

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

/* TAG */
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #363636;
}

p{
    font-weight: 100;
}

h1{
    font-size: 1.8em;
    font-weight: bolder;
}

h2{
    font-size: 1.3em;
    font-weight: bolder;
}

h3{
    font-size:1em;
    font-weight: bold;
}

/* CLASS HELPER */
.button{
    border-radius: 5px;
    border: 0px;
}

.padding-page{
    margin: 30px;
}

/* MEDIA QUERIE */
@media only screen and (min-width: 768px) {
    
    /* CLASS HELPER */
    .padding-page{
        margin: 30px 100px;
    }

}

@media only screen and (min-width: 1176px) {
    
    /* CLASS HELPER */
    .padding-page{
        margin: 30px 200px;
    }

}