@media only screen and (min-width: 1176px) {
    
    /***** HEADER *******************************/
   
    .header{
        height: 500px;
        background-size: cover;
    }

    header video {
        height: 500px;
    }

    /* Navbar */
    .header__navbar__logo{
        flex: 1;
    }

    .header__navbar__menu{
        flex: 1;
    }

    .header__navbar__menu img{
        display:none;
    }

    .header__navbar__menu__enlaces{
        display: block;
    }

    .header__navbar__menu__enlaces ul{
        color: white;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .header__navbar__menu__informamos{
        color: white;
        background-color: #FABADA; 
        padding: 15px 25px;
        margin-bottom: 30px;
        position: relative;
        bottom: 10px;
    }

    /* TEXTO INICIAL */
    .header__textoInicial{
       width: 50%;
    }
    
    /***** MENU *******************************/

    /* BOOTCAMPS LISTA */
    .main__bootcamps__lista{
        flex-wrap: wrap;
        flex-direction: row;
        flex: 2;
        margin-right: 0px;
    }

    .main__bootcamps__lista__curso{
        flex-basis: 40%;
        margin-left: 10px;
    }

    /* TEXTO EMPRESAS */
    .main__textoEmpresas{
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .main__textoEmpresas__header{
        flex: 3;
        padding-right: 30px;
        padding-left: 30px;
    }

    .main__textoEmpresas__texto{
        flex: 4;
        padding-right: 30px;
    }

    /* LOGO EMPRESAS */
    .main__logoEmpresas__logo{
        flex-basis: 20%;
        margin-top: 20px;
    }

   /* UPGRADERS */
   .main__upgraders__elemento{
        width: 25%;
        height: 250px;
    }

    /* TEXTO QUE ES */
    .main__queEs__texto{
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .main__queEs__texto__elemento{
        flex-basis: 50%;
    }

    .main__queEs__boton{
        margin-bottom: 40px;
        margin-top: 40px;
    }

     /* IMAGEN CURSOS */
     .main__imagenCursos{
        display: flex;
        flex-wrap: wrap;
        margin: 30px 200px;
    }

    .main__imagenCursos__elemento{
        flex-basis: calc(50% - 30px);
        height: 400px;
    }

    /* MEJOR OPCION */
    .main__mejorOpcion__opciones__opcion{
        flex-basis: calc(33.33% - 30px);
        margin-right: 30px;
    }

    .main__mejorOpcion__opciones__opcion__titulo{
        font-size: 1em;
    }

    /* SABER MAS */
    .main__saberMas{
        margin-top: 20px;
        flex-direction: row;
    }

    .main__saberMas__texto{
        padding-right: 120px;
    }
    
    .main__saberMas__formulario__labelCondiciones{
        font-size: 0.8em;
    }

    /***** FOOTER *******************************/

    .footer{
        padding: 100px 350px;
    }

    .footer__datos{
        display: flex;
    }

    .footer__datos__contacto{
        margin-right: 50px;
    }

    .footer__datos__enlaces{
        margin: 0;
        padding-left: 30px;
        border-left: 1px solid white;
    }
    
}