@media only screen and (min-width: 768px) {
   
    /***** HEADER *******************************/

    .header{
        height: 370px;
    }

    header video {
        height: 370px;
    }

    /* NAVBAR */
    .header__navbar__menu__enlaces{
        display: none;
    }

    /* BOTONES HEADER */
    .header__botones{
        display: none;
    }

    

    /***** MAIN *********************************/

    /* BOOTCAMPS */
    .main__bootcamps{
        display: flex;
    }

    /* BOOTCAMPS LISTA */
    .main__bootcamps__lista{
        margin-right: 30px;
    }

    .main__bootcamps__horario{
        flex: 1;
    }

    .main__bootcamps__horario__elemento__img {
        width: 30%;
    }

    /* LOGO EMPRESAS */
    .main__logoEmpresas__logo{
        flex-basis: 25%;
    }

    /* UPGRADERS */
    .main__upgraders__elemento{
        width: 50%;
        height: 250px;
        margin-top: 0px;
    }

    /* IMAGEN CURSOS */
    .main__imagenCursos{
        margin: 30px 100px;
    }

    .main__imagenCursos__elemento{
        height: 500px;
        padding: 10px;
    }

    .main__imagenCursos__elemento__flecha{
        font-size: 4em;
    }

    /* MEJOR OPCION */
    .main__mejorOpcion__opciones__opcion{
        flex-basis: calc(50% - 30px);
        margin-right: 30px;
    }

    .main__mejorOpcion__opciones__opcion__titulo{
        font-size: 0.8em;
    }

    .main__mejorOpcion__opciones__opcion__texto{
        display: block;
    }

    /* SABER MAS */
    .main__saberMas{
        padding: 30px 100px;
    }

    .main__saberMas__formulario__labelCondiciones{
        font-size: 0.6em;
    }

    /***** FOOTER *******************************/
    
    .footer{
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
    }

    .footer__redes{
        margin: 0;
    }


}